<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CakeEatEasy"
        tools:targetApi="31">
        <activity
            android:name=".screens.HistoryOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".screens.OnGoingOrderActivity"
            android:exported="false" />
        <activity
            android:name=".screens.OrderTrackingDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".screens.OrderTrackingActivity"
            android:exported="false" />
        <activity
            android:name=".screens.EditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".screens.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".screens.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".screens.CartActivity"
            android:exported="false" />
        <activity
            android:name=".screens.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".screens.VoucherActivity"
            android:exported="false" />
        <activity
            android:name=".screens.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".screens.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".screens.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".screens.ProductDetailsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.MainActivity"
            android:exported="true" />
    </application>

</manifest>